.todo__item {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.taskTitle {
  width: fit-content;
  padding-left: 1rem;
  padding-right: 1rem;
}

.remove__button {
  height: fit-content;
  background-color: red;
  color: white;
  border-radius: 10%;
}
